<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/receipt">
        <table>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          <tr>
            <% for (let i = 0; i < listProduct.length; i++) { %>
                <tr>
                    <td><%- listProduct[i] %></td>
                    <td><%- listPrice[i] %></td>
                    <td><%- listQuantity[i] %></td>
                    <input type="hidden" name="product" value="<%- listProduct[i] %>">
                    <input type="hidden" name="price" value="<%- listPrice[i] %>">
                    <input type="hidden" name="quantity" value="<%- listQuantity[i] %>">
                </tr>
            <% } %>
            <!-- <th class="productList" id="productList"></th> -->
          </tr>
          <tr>
            <th class="total" id="total"></th>
            <!-- gets the last value of the array for the final total amount -->
            <input type="hidden" value="<%- total[total.length - 1] %>" name="total"> 
            <th class="totalDiscounted" id="totalDiscounted"></th>
            <input type="hidden" value="<%- totalDiscounted %>" name="totalDiscounted">

            </th>
          </tr>
          <tr>
            <td>Name:</td>
            <td> <input type="text" name="customer" id="customer" size="25" required></td> 
          </tr> 
          <tr>
              <td>Cash Amount:</td> 
              <td> <input type="number" name="cash" id="cash"  min="<%= total[total.length - 1] %>" required></td> 
            </tr> 
        </table>
        <input type="button" name="cancel" value="Cancel" onclick="window.history.back()" />
        <input type="submit" name="save" /><br />
    </form>

    <script>

        const productList = JSON.parse('<%- JSON.stringify(listProduct) %>');
        const priceList = JSON.parse('<%- JSON.stringify(listPrice) %>');
        const quantityList = JSON.parse('<%- JSON.stringify(listQuantity) %>');
        const total = JSON.parse('<%- JSON.stringify(total[total.length - 1]) %>');

        let productListHTML = '';
        let totalDiscounted = total;

        document.addEventListener('DOMContentLoaded', () => {
            
            // Display total
            const totalElement = document.getElementById('total');
            totalElement.innerText = `Total: ${total}`;

            // Set total and totalDiscounted form inputs
            const totalInput = document.getElementById('totalInput');
            totalInput.value = total;

            const totalDiscountedInput = document.getElementById('totalDiscountedInput');
            totalDiscountedInput.value = totalDiscounted.toFixed(2); // Add this line

            // Set totalDiscounted element
            const totalDiscountedElement = document.getElementById('totalDiscounted');
            totalDiscountedElement.innerText = `Discounted Total: ${totalDiscounted.toFixed(2)}`;
            
        });
        
        const chickenIndex = productList.indexOf('CHICKEN');
        const mashedPotatoIndex = productList.indexOf('MASHED POTATO');
        const icedTeaIndex = productList.indexOf('ICED TEA');

        if (chickenIndex !== -1 && mashedPotatoIndex !== -1 && icedTeaIndex !== -1) {
            totalDiscounted -= totalDiscounted * 0.1;

            totalDiscounted = parseFloat(totalDiscounted);
            totalDiscountedHTML = `Discounted Total: ${totalDiscounted.toFixed(2)}`;

            const totalDiscountedElement = document.getElementById('totalDiscounted');
            totalDiscountedElement.innerText = totalDiscountedHTML;

            alert('Chicken Mash Tea Combo! 10% Discount is applied!');
        }

        const steakIndex = productList.indexOf('STEAK');
        const steamedVegetablesIndex = productList.indexOf('STEAMED VEGETABLES');
        const rootBeerIndex = productList.indexOf('ROOT BEER');

        if (steakIndex !== -1 && steamedVegetablesIndex !== -1 && rootBeerIndex !== -1) {
            totalDiscounted -= totalDiscounted * 0.15;

            totalDiscounted = parseFloat(totalDiscounted);
            totalDiscountedHTML = `Discounted Total: ${totalDiscounted.toFixed(2)}`;

            const totalDiscountedElement = document.getElementById('totalDiscounted');
            totalDiscountedElement.innerText = totalDiscountedHTML;

            alert('Steak Veg Beer Combo! 15% Discount is applied!')
        }
       

    </script>
</body>
</html>