<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bite-By-Bytes </title></head>
    <link rel="stylesheet" href="style3.css">
    <script>
        function test(event) {
            event.preventDefault();
            alert("FUCK");
        }
    </script>
</head>
<body>
    <form method="post" onsubmit="test(event)">
        <div class="container">
            <header> 
                <img class="logo" src="logo.svg" alt="logo" height="80">
                <h1 style="color: white; text-align: center;"> &nbsp; Bite-By-Bytes </h1>

       <div class ="resibo">
        Receipt <br>
        Customer: <%- customer  %> <br>
        Total: <%- total  %><br>
        Cash: <%- cash  %><br>
        Total Discount: <%- totalDiscounted[0]  %><br>
        Change: <%- change  %><br>
        <table>
            <td>Order Receipt</td>
            <% for (let i = 0; i < listProduct.length; i++) { %>
                <tr>
                    <td><%- listProduct[i] %></td>
                    <td><%- listPrice[i] %></td>
                    <td><%- listQuantity[i] %></td>
                    <input type="hidden" name="product<%-i%>" value="<%- listProduct[i] %>">
                    <input type="hidden" name="price<%-i%>" value="<%- listPrice[i] %>">
                    <input type="hidden" name="quantity<%-i%>" value="<%- listQuantity[i] %>">
                </tr>
            <% } %>
            <input type="hidden" name="customer" value="<%- customer %>">
            <input type="hidden" name="total" value="<%- totalDiscounted[0] %>">

            <input type="submit" name="done" value="Done" onclick="goto()">
        </table>
    </div>
    </form>
    <script>
        function goto(){
            window.history.go(-2);
        }
    </script>
</body>
</html>