<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/">
       
        Receipt <br>
        Customer: <%- customer  %> <br>
        Total: <%- total  %><br>
        Cash: <%- cash  %><br>
        Total Discount: <%- totalDiscounted  %><br>
        Change: <%- change  %><br>
        <table>
            <td>Order Receipt</td>
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>
            <% for (let i = 0; i < listProduct.length; i++) { %>
                <tr>
                    <td><%- listProduct[i] %></td>
                    <td><%- listPrice[i] %></td>
                    <td><%- listQuantity[i] %></td>
                    <input type="hidden" name="product" value="<%- listProduct[i] %>">
                    <input type="hidden" name="price" value="<%- listPrice[i] %>">
                    <input type="hidden" name="quantity" value="<%- listQuantity[i] %>">
                </tr>
            <% } %>
        </table>
    </form>
    <script>
    </script>
</body>
</html>