<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bite-By-Bytes </title></head>
    <link rel="stylesheet" href="style3.css">
    <script>
        function getCurrentDateAndTime() {
            const dateTime = new Date();
            return dateTime.toLocaleString(); 
        }

        const dateDisplay = document.getElementById("date-container");

        dateDisplay.innerHTML = getCurrentDateAndTime(); 

        function test(event) {
            event.preventDefault();

            var customer = document.getElementById("customer").value;
            var total = document.getElementById("total").value;
            var product0 = document.getElementById("product0").value;
            var price0 = document.getElementById("price0"). value;
            var quantity0 = document.getElementById("quantity0").value;
            var product1 = document.getElementById("product1").value;
            var price1 = document.getElementById("price1").value;
            var quantity1 = document.getElementById("quantity1").value;
            var product2 = document.getElementById("product2").value;
            var price2 = document.getElementById("price2").value;
            var quantity2 = document.getElementById("quantity2").value;

            const data = {
                customer: customer,
                total: parseFloat(total),
                product0: product0,
                price0: parseInt(price0),
                quantity0: parseInt(quantity0),
                cost0: parseInt(cost0),
                product1: product1,
                price1: parseInt(price1),
                quantity1: parseInt(quantity1),
                cost1: parseInt(cost1),
                product2: product2,
                price2: parseInt(price2),
                quantity2: parseInt(quantity2),
                cost2: parseInt(cost2)
            };

            fetch("/api/orders", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })

            window.location.href = "/";
        }
    </script>
</head>
<body>
    <form onsubmit="test(event)">
        <div class="container">
            <header> 
                <img class="logo" src="logo.svg" alt="logo" height="80">
                <h1 style="color: white; text-align: center;"> &nbsp; Bite-By-Bytes </h1>
            </header>
        </div>
         <div class="receipt-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    <img class="logoThanks" style="background-color: #fbf2d3; border-radius: 50%;"src="logoThanks.svg" alt="logo" height="90">
                                    <br> 
                                    <br>
                                    <h2 style="color: #F16D20"> Thank you for ordering! </h2>
                                </td>                                                           
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="customer-information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Customer Name: <%- customer  %> <br>
                                    <input type="hidden" id="customer" name="customer" value="<%- customer %>">
                                    <p id="date-container"></p>   
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr class="order-heading">
                    <td>
                        Order Summary
                    </td>
                    <td>
                        Price
                    </td>
                    <td>
                        Qty
                    </td>
                    <td>
                        Cost
                    </td>
                </tr>

                <% for (let i = 0; i < listProduct.length; i++) { 
                    let cost = listPrice[i] * listQuantity[i]%>
                    <tr>
                        <td><%- listProduct[i] %></td>
                        <td><%- listPrice[i] %></td>
                        <td><%- listQuantity[i] %></td>
                        <td><%- cost %></td>
                        <input type="hidden" id="product<%-i%>" name="product<%-i%>" value="<%- listProduct[i] %>">
                        <input type="hidden" id="price<%-i%>" name="price<%-i%>" value="<%- listPrice[i] %>">
                        <input type="hidden" id="quantity<%-i%>" name="quantity<%-i%>" value="<%- listQuantity[i] %>">
                        <input type="hidden" id="cost<%-i%>" name="cost<%-i%>" value="<%- cost %>">
                    </tr>
                <% } %>
                <tr class="order-heading">
                    <td>
                        Payment Details
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        Amount
                    </td>
                </tr>

                <tr class="order-item">
                    <td>
                        Total
                    </td>
                    <td></td>
                    <td></td>
                    <td><%- total  %></td>
                    <input type="hidden" id="total" name="total" value="<%- total %>">
                </tr>
                <% if(hasCombo) {%>
                <tr class="order-item">
                    <td>
                        Total Discount
                    </td>
                    <td></td>
                    <td></td>
                    <td><%- totalDiscounted  %></td>
                    <input type="hidden" id="totalDiscounted" name="totalDiscounted" value="<%- totalDiscounted %>">
                </tr>
                <% } %>

                <tr class="order-item">
                    <td>
                        Cash
                    </td>
                    <td></td>
                    <td></td>
                    <td><%- cash  %></td>
                    <input type="hidden" id="cash" name="cash" value="<%- cash %>">
                </tr>

                <tr class="order-item">
                    <td>
                        Change
                    </td>
                    <td></td>
                    <td></td>
                    <td><%- change  %></td>
                    <input type="hidden" id="change" name="change" value="<%- change %>">
                    
                </tr>
                <tr>
                    
                </tr>
                
            </table>
            <div class="done"><input type="submit" value="Done" onclick="window.location.href('/')"></div>
    </div>
    </form>
</body>
</html>